.DS_Store
node_modules
duckdb-node-neo
.trash
data
demo/dist
repomix-output.xml.txt
stuffs
docs/
demo/dist
*/*/node_modules
# Local Netlify folder
.netlify
executor/frontend/node_modules
executor/frontend/node_modules
