.git
.gitignore
.DS_Store
node_modules
*.ts
.tmp
.trash
repomix-output.xml.txt
stuffs
docs/
watson
examples
-h
demo/node_modules
demo/src
demo/.vscode
demo/dist/.wrangler
demo/dist/node_modules
demo/*.html
demo/*.ico
demo/vite.*.ts
demo/tsconfig.json
demo/wrangler.toml
demo/.env.production
demo/bun.lockb
demo/stats.html
demo/.netlify
!demo/dist
