@font-face {
  font-family: 'Comic Mono';
  src: url('https://dtinth.github.io/comic-mono-font/ComicMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#workbench.parts.banner {
  display: none;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--vscode-editorWidget-background);
  color: var(--vscode-editorWidget-foreground);
  margin: 0;
  overflow: hidden; /* Remove scrollbar from main view */
}

#editors {
  position: relative;
  min-width: 0;
  height: 100vh;
  border: 1px solid var(--vscode-editorWidget-border);
}

#panel {
  display: flex;
  flex: 1;
  border: 1px solid var(--vscode-editorWidget-border);
  min-height: 0;
  z-index:99;
}

.highlight .c, .highlight .ch, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .cs, .highlight .c1 {
	color: #636d83;
	font-family: monospace;
	font-style: italic;
}

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kr, .highlight .kt, .highlight .kv {
	color: #10b1fe;
	font-weight: bold;
	font-family: monospace;
}

.highlight .py {
	color: #BA9678;
}

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
	color: #ff78f8;
}

.highlight .g, .highlight .l, .highlight .no, .highlight .nd, .highlight .nx, .highlight .w, .highlight .nn, .highlight .n, .highlight .vg {
	color: #000000cc;
}

.highlight .nb, .highlight .bp, .highlight .vcb {
	color: #10b1fe;
	font-weight: bold;
	font-family: monospace;
}

.highlight .nf, .highlight .nt, .highlight .na {
	color: #3fc56b;
	font-weight: bold;
	font-family: monospace;
}

.highlight .ge {
	color: #ff6480;
	font-weight: bold;
	font-style: italic;
	font-family: monospace;
}

.highlight .nc, .highlight .nv {
	color: #ff6480;
}

.highlight .p, .highlight .x {
	color: #7a82da;
}

.highlight .o, .highlight .ow {
	color: #7a82da;
}

.highlight .ld, .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss, .highlight .dl, .highlight .nl {
	color: #f9c859;
}

th .k {
	color: #fff;
	font-weight: bold;
	font-family: monospace;
}
  .highlight .c, .highlight .ch, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .cs, .highlight .c1 {
  	color: #636d83;
  	font-family: monospace;
  	font-style: italic;
  }
  
  .highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kr, .highlight .kt, .highlight .kv {
  	color: #10b1fe;
  	font-weight: bold;
  	font-family: monospace;
  }
  
  .highlight .py {
  	color: #BA9678;
  }
  
  .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  	color: #ff78f8;
  }
  
  .highlight .g, .highlight .l, .highlight .no, .highlight .nd, .highlight .nx, .highlight .w, .highlight .nn, .highlight .n, .highlight .vg {
  	color: #000000cc;
  }
  
  .highlight .nb, .highlight .bp, .highlight .vcb {
  	color: #10b1fe;
  	font-weight: bold;
  	font-family: monospace;
  }
  
  .highlight .nf, .highlight .nt, .highlight .na {
  	color: #3fc56b;
  	font-weight: bold;
  	font-family: monospace;
  }
  
  .highlight .ge {
  	color: #ff6480;
  	font-weight: bold;
  	font-style: italic;
  	font-family: monospace;
  }
  
  .highlight .nc, .highlight .nv {
  	color: #ff6480;
  }
  
  .highlight .p, .highlight .x {
  	color: #7a82da;
  }
  
  .highlight .o, .highlight .ow {
  	color: #7a82da;
  }
  
  .highlight .ld, .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss, .highlight .dl, .highlight .nl {
  	color: #f9c859;
  }
  
  th .k {
  	color: #fff;
  	font-weight: bold;
  	font-family: monospace;
  }
#titleBar {
  position: relative;
  flex: none;
}

#banner {
  flex: none;
}

#workbench-container {
  height: 100vh;
  display: flex;
  flex-direction: column
}

#workbench-top {
  display: flex;
  gap: 20px;
  flex: 2;
  min-height: 0
}
